/obj/Release/Szamlakezeles.pdb
/bin/Debug/Szamlakezeles.exe.config
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/Szamlakezeles.csproj.GenerateResource.cache
/bin/Debug/Szamlakezeles.pdb
/bin/Release/test1.xml
/obj/Release/Szamlakezeles.csprojAssemblyReference.cache
/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/Szamlakezeles.Properties.Resources.resources
/bin/Release/Szamlakezeles.pdb
/obj/Release/Szamlakezeles.csproj.FileListAbsolute.txt
/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/bin/Release/Szamlakezeles.exe.config
/obj/Release/Szamlakezeles.csproj.GenerateResource.cache
/bin/Release/Szamlakezeles.exe
/obj/Debug/Szamlakezeles.csprojAssemblyReference.cache
/obj/Debug/Szamlakezeles.exe
/obj/Debug/Szamlakezeles.Form1.resources
/obj/Release/Szamlakezeles.csproj.CoreCompileInputs.cache
/obj/Release/Szamlakezeles.Form1.resources
/obj/Debug/Szamlakezeles.csproj.FileListAbsolute.txt
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Release/Szamlakezeles.Properties.Resources.resources
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/bin/Debug/test1.xml
/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/Szamlakezeles.pdb
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/bin/Debug/Szamlakezeles.exe
/obj/Release/Szamlakezeles.exe
/obj/Debug/Szamlakezeles.csproj.CoreCompileInputs.cache
/.idea/.idea.Szamlakezeles.dir/.idea/.name
/packages/Microsoft.Office.Interop.Excel.15.0.4795.1000/.signature.p7s
/.idea/.idea.Szamlakezeles.dir/.idea/contentModel.xml
/.idea/.idea.Szamlakezeles.dir/.idea/encodings.xml
/.idea/.idea.Szamlakezeles.dir/.idea/indexLayout.xml
/packages/Microsoft.Office.Interop.Excel.15.0.4795.1000/Microsoft.Office.Interop.Excel.15.0.4795.1000.nupkg
/packages/Microsoft.Office.Interop.Excel.15.0.4795.1000/lib/net20/Microsoft.Office.Interop.Excel.dll
/.idea/.idea.Szamlakezeles.dir/.idea/modules.xml
/.idea/.idea.Szamlakezeles.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.Szamlakezeles.dir/riderModule.iml
/.idea/.idea.Szamlakezeles.dir/.idea/vcs.xml
